/* Variables */

:root {
    --bgColor: white;
    --textColor: black;
    --font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
        Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
    --containerMaxWidth: 1024px;
}

/* Utilities */

.mr-3 {
    margin-right: 0.3rem;
}

.mb-3 {
    margin-bottom: 0.3rem;
}

.mb-6 {
    margin-bottom: 0.6rem;
}

.mb-9 {
    margin-bottom: 0.9rem;
}

.mb-12 {
    margin-bottom: 1.2rem;
}

.mt-3 {
    margin-top: 0.3rem;
}

.mt-9 {
    margin-top: 0.9rem;
}

/* Fixes */

button::-moz-focus-inner {
    border: 0;
}

/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

body {
    color: var(--textColor);
    background-color: var(--bgColor);
    font-family: var(--font);
}

/* App layout and style */

.container {
    padding: 0.7rem;
    max-width: var(--containerMaxWidth);
    margin: 0 auto;
}

.mainArea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.singleArea {
    padding: 0.5rem;
    border-radius: 5px;
    text-align: center;
}

.appTitle {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    font-weight: normal;
}

#rawDataArea > pre {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.85rem;
    background-color: #eeeeee;
    border-radius: 5px;
    padding: 5px;
    user-select: text;
}

/* UI */

.linkButton {
    background: none;
    border: none;
    cursor: pointer;
}

.linkButton:hover {
    color: #666666;
}

.linkButton:focus {
    outline: 0;
}

.inactiveToggle {
    color: #cccccc;
}

/* Items */

.itemBox {
    display: flex;
    flex-direction: column;
    width: 10rem;
    height: 10rem;
    margin: 0 1.2rem 1.2rem 0;
    padding: 0.3rem;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
}

.item {
    margin: 0 auto;
    text-align: center;
}

.itemTitle {
    font-weight: normal;
    font-size: 1rem;
    color: #718096;
    margin: 0 auto;
}

.itemBg-gray {
    background-color: #e2e8f0;
}

.itemBg-blue {
    background-color: #90cdf4;
}

.itemBg-orange {
    background-color: #fbd38d;
}

.itemBg-green {
    background-color: #9ae6b4;
}

.itemBg-red {
    background-color: #feb2b2;
}
