/* Variables */

:root {
    --font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
        Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
    --fontSize: 1rem;
    --containerMaxWidth: 1024px;
    --itemWidth: 10rem;
    --itemHeight: 10rem;
    --itemBorderRadius: 5px;
    --itemTitleSize: 1rem;
    --bgColor: white;
    --textColor: black;
    --rawDataBgColor: #eeeeee;
    --rawDataFontSize: 0.85rem;
    --buttonHoverColor: #666666;
    --buttonInactiveColor: #cccccc;
    --itemBgGrayColor: #e2e8f0;
    --itemBgBlueColor: #90cdf4;
    --itemBgOrangeColor: #fbd38d;
    --itemBgGreenColor: #9ae6b4;
    --itemBgRedColor: #feb2b2;
    --itemTitleColor: #718096;
}

/* General & app layout */

body {
    color: var(--textColor);
    background-color: var(--bgColor);
    font-family: var(--font);
    font-size: var(--fontSize);
}

.container {
    padding: 0.7rem;
    max-width: var(--containerMaxWidth);
    margin: 0 auto;
}

.menubar {
    margin-bottom: 0.6rem;
}

.mainArea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0.9rem;
    margin-bottom: 0.9rem;
}

.singleArea {
    text-align: center;
    margin-bottom: 0.9rem;
    padding: 0.5rem;
    border-radius: 5px;
}

.groupContainer {
    margin-top: 0.3rem;
    margin-bottom: 1.2rem;
}

#rawDataArea > pre {
    font-family: 'Courier New', Courier, monospace;
    font-size: var(--rawDataFontSize);
    background-color: var(--rawDataBgColor);
    border-radius: 5px;
    padding: 5px;
    user-select: text;
}

/* UI */

.linkButton {
    font-size: var(--fontSize);
    color: var(--textColor);
    background: none;
    border: none;
    cursor: pointer;
}

.linkButton:hover {
    color: var(--buttonHoverColor);
}

.linkButton:focus {
    outline: 0;
}

.inactiveButton {
    color: var(--buttonInactiveColor);
}

/* Items */

.clusterBox {
    display: flex;
    flex-direction: column;
    width: var(--itemWidth);
    height: var(--itemHeight);
    margin: 0 1.2rem 1.2rem 0;
    padding: 0.3rem;
    cursor: pointer;
    border-radius: var(--itemBorderRadius);
    overflow: hidden;
}

.item {
    text-align: center;
    color: var(--textColor);
    font-size: var(--fontSize);
    margin: 0 auto;
}

.itemTitle {
    font-weight: normal;
    font-size: var(--itemTitleSize);
    color: var(--itemTitleColor);
    margin: 0 auto 0.3rem auto;
}

.itemBg-gray {
    background-color: var(--itemBgGrayColor);
}

.itemBg-blue {
    background-color: var(--itemBgBlueColor);
}

.itemBg-orange {
    background-color: var(--itemBgOrangeColor);
}

.itemBg-green {
    background-color: var(--itemBgGreenColor);
}

.itemBg-red {
    background-color: var(--itemBgRedColor);
}
